.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .block, .flex-box {
        display: flex;
        justify-content: center;
    }


    #textArea {
        width: 600px;
        height: 500px;

    }

    .variables {
        display: flex;
        flex-direction: column;
    }
}