body {
    background-color: $grey;
}
.section1 {
    background-color: $grey;
    
    width: 100%;
    .content {
        padding: 20px 20px;
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .block, .flex-box {
        display: flex;
        justify-content: center;
    }

    .flex-box {
        align-items: center;
    }

    .variableNameInput{
        margin: 10px 10px 10px;
    }

    input {
        background-color: $grey;
        height: 40px;
        border: solid .5px black;
        text-align: center;
    }

    textarea {
        max-width: 600px;
        height: 400px;
        width: 100%;
        resize: none;
        margin: 10px;
        background-color: $grey;
    }


    .table {
        width: 100%;
    }

    .div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position:relative;
    }
    .variables {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fillValues {
        width: auto;
        height:auto;
        background-color:	inherit;
        display: inline;
        justify-content: normal;
        align-items: normal;
        margin: 10px 0;
        transition: none;
        transition: none;
        color: $blue;
        &:hover {
        cursor: pointer;
        text-decoration: underline;
        background-color:inherit;
        }
    }
}