// Colors

$black    : #000000;
$white    : #ffffff;
$grey     : #e5e5e5;
$blue     : #0645AD;
$red      : #e42009;


//
// Font weight

$font-weight-thin      : 100;
$font-weight-extralight: 200;
$font-weight-light     : 300;
$font-weight-regular   : 400;
$font-weight-medium    : 500;
$font-weight-semibold  : 600;
$font-weight-bold      : 700;
$font-weight-extrabold : 800;
$font-weight-black     : 900;

//
// Font family

$font-family: 'FS Lola', 'Helvetica', 'Arial', sans-serif;